{% extends "base.html" %}
{% block content %}



<h1>User Profile: {{ userprofile.user.username }}</h1>
<div class = 'card' style = 'max-width: 650px;'>
    <div class = 'card-body'>
{% if userprofile.profile_picture %}
    <img src="{{ userprofile.profile_picture.url }}" alt="Profile Picture" width="200" height="200" class = 'card-img-top img-fluid rounded-circle'>
{% endif %}
    </div>

<div class = 'card-footer'>
<p><strong>Role -~~~~~~-</strong> {{ userprofile.get_role_display }} <b> -~~~~~~-</b></p>
<p><b>Bio:</b> {{userprofile.bio }} </p>
<a href = "#">Show Portfolium</a>
<a href = "#">EditProfile</a>

</div>
</div>













{% endblock %}