<!DOCTYPE html>
<html lang="de">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Forum{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'group-detail' %}">Group Portal</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'voting:vote_list' %}">Votes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'materials:material-list' %}">Materials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                       href="{% url 'index' %}">
                        Announcements
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link "
                       href="{% url 'chat1' %}">
                        Chat
                    </a>
                </li>
                <li class="nav-item">
                  
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'post_create' %}active{% endif %}"
                       href="{% url 'post_create' %}">
                        Create Post
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "
                       href="{% url 'about_us' %}">
                        about_us
                    </a>
                </li>


            </ul>

            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'user-profile' %}">View Profile</a>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button class="nav-link" type="submit">Log out</button>
        </form>
        {% else %}
            <a class="nav-link" href="{% url 'login' %}">Log in</a>
            <a class="nav-link" href="{% url 'register-profile' %}">Sign up</a>
        {% endif %} 



            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>